.drop-zone {
	min-height: 80px;
	padding: 20px;
	text-align: center;

	&.drop-enabled {
		outline: 2px dashed transparent;

		&:not(.no-border) {
			outline-color: transparentize(#b0b4bb, 0.5);
		}
	}

	p {
		margin: 10px auto 0;
		max-width: 75%;
	}
}

.drop-here-info {
	font-size: 25px;
	height: 100%;
	left: 0;
	min-height: 100px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;

	.drop-here-indicator {
		height: 115px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	.drop-icons {
		display: inline-block;
		position: relative;
		width: 160px;

		span {
			position: absolute;
			text-align: center;

			&:nth-of-type(1) {
				height: 60px;
				left: 0;
				line-height: 60px;
				opacity: 0;
				top: 10px;
				width: 60px;
			}

			&:nth-of-type(2) {
				background: #00c2ff;
				color: #fff;
				height: 80px;
				left: 40px;
				line-height: 80px;
				width: 80px;
				z-index: 2;
			}

			&:nth-of-type(3) {
				display: block;
				font-size: 45px;
				height: 70px;
				left: 90px;
				line-height: 70px;
				opacity: 0;
				position: relative;
				top: 8px;
				width: 70px;
				z-index: 1;
			}

			&:nth-of-type(1),
			&:nth-of-type(3) {
				background: #e8e6e8;
				color: #a5a6ac;
			}
		}
	}

	.drop-text {
		color: #fff;
		display: block;
		font-size: 20px;
		margin-left: 0;
		margin-top: 20px;
	}
}

.drop-active .drop-here-info {
	background-color: transparentize(#000, 0.4);
	opacity: 1;
	visibility: visible;
	z-index: 100;

	.drop-icons {
		span {
			&:nth-of-type(1),
			&:nth-of-type(3) {
				opacity: 1;
			}
		}
	}
}
