.taglib-form-navigator {
	.error-notice,
	.modified-notice {
		display: none;
	}

	> .form-steps {
		position: relative;

		> ul.form-navigator {
			&.list-group {
				background: transparent;
				border-width: 0;
				clear: both;
				float: none;
				overflow: visible;
				padding: 0;
				width: 100%;

				@include media-breakpoint-down(md) {
					overflow: auto;
					white-space: nowrap;
				}

				.tab {
					border-width: 0;
					display: inline-block;
					overflow: visible;
					position: relative;
					text-align: center;
					white-space: nowrap;
					z-index: 50;

					&.active {
						background: transparent;
						opacity: 1;

						&:last-child .tab-label .tab-icon {
							display: none;
						}

						.tab-label {
							position: relative;

							&:hover,
							&:focus {
								background: transparent;
							}

							.message {
								color: #000;
								display: inline-block;
								opacity: 0.7;
							}

							.number {
								background: #333;
								font-size: 18px;
								opacity: 1;
							}

							.tab-icon {
								color: #333;
								display: inline-block;
							}
						}
					}

					.tab-label {
						background: transparent;
						border-width: 0;
						display: block;
						margin: 0 5px 0 -5px;
						outline: 0;
						padding: 0;

						&:hover,
						&:focus {
							text-decoration: none;

							.number {
								opacity: 1;
							}
						}

						.error-notice {
							display: none;
						}

						.number {
							background: #ccc;
							clear: both;
							color: #fff;
							display: inline-block;
							font-size: 14px;
							font-weight: bold;
							margin: 5px;
							opacity: 0.6;
							text-decoration: none;
							width: 30px;
						}

						.message {
							color: #000;
							font-size: 12px;
							margin-left: -5px;
						}

						.modified-notice {
							display: none;
						}

						.tab-icon {
							display: none;
						}
					}
				}
			}

			&.multi-step-progress-bar {
				display: block;
				padding-top: 10px;

				.tab-label {
					outline-width: 0;
				}
			}
		}
	}

	.form-navigator-content {
		overflow: visible;

		.form-section {
			display: none;

			&.active {
				display: block;
			}

			textarea {
				max-width: 100%;
			}
		}

		legend {
			overflow: auto;
			padding-bottom: 2px;
		}
	}

	.section-modified .modified-notice {
		display: inline-block;
	}

	.section-error .error-notice {
		display: inline-block;
		margin-right: 5px;
	}
}
