.info-bar-container {
	background-color: #fff;
	border-bottom: 1px solid #edf0f2;
	min-height: 47px;

	.info-bar {
		padding: 0;
	}

	@include media-breakpoint-up(sm) {
		min-height: 59px;
	}

	.info-bar-default {
		.taglib-workflow-status .workflow-version {
			color: #6b6c7e;
		}

		.btn {
			margin: 7px 0 7px 15px;

			@include media-breakpoint-up(sm) {
				margin: 13px 0 13px 15px;
			}
		}
	}

	.info-bar-center {
		left: 50%;
		margin-top: 16px;
		position: absolute;
		text-align: center;
		transform: translate(-50%);
		width: 100%;

		@include media-breakpoint-up(sm) {
			margin-top: 20px;
		}
	}

	&.affix {
		min-height: 35px;
		transition: min-height 0.15s ease;

		.info-bar-center {
			margin-top: 5px;
		}
	}
}
