.lfr-search-container {
	margin-top: 1.5em;
	overflow: auto;

	@include media-breakpoint-down(sm) {
		.selector-button {
			width: auto;
		}
	}

	.touch & {
		-webkit-overflow-scrolling: touch;

		.searchcontainer-content .table {
			max-width: none;
		}
	}
}

.taglib-page-iterator {
	clear: both;
	height: auto;
	width: auto;

	.lfr-pagination-buttons {
		float: right;
		margin: 0;

		@include media-breakpoint-down(md) {
			width: 100%;

			@include media-breakpoint-down(sm) {
				float: none;
				margin-top: 20px;
			}

			> li {
				display: inline-block;
				width: 50%;

				&.first,
				&.last {
					display: none;
				}

				> a {
					line-height: 20px;
					padding: 11px 19px;
				}
			}
		}
	}

	.lfr-pagination-config {
		float: left;
		line-height: 46px;

		@include media-breakpoint-down(sm) {
			float: none;

			.current-page-menu {
				display: block;

				.btn {
					display: block;
				}
			}
		}

		.lfr-pagination-delta-selector,
		.lfr-pagination-page-selector {
			display: inline;
		}

		.lfr-pagination-delta-selector {
			float: none;

			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.search-results {
		float: left;
		line-height: 46px;
		margin-left: 10px;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}
