.lfr-card-actions-column {
	.card-row-layout-fixed & {
		width: 32px;
	}

	.dropdown {
		margin-right: -8px;
		margin-top: -5px;

		.card-row-layout-fixed & {
			margin-left: 8px;
			margin-right: 0;
		}
	}
}

.lfr-card-subtitle-text {
	font-size: 14px;
	font-weight: 400;
}

.lfr-card-title-text {
	font-size: 14px;
	font-weight: 600;
}
