.lfr-asset-category-container {
	.no-matches {
		color: #999;
	}
}

.lfr-asset-category-search-container {
	background-color: #d3dadd;
	border-bottom-color: #aeb8bc;
}

.lfr-asset-category-list {
	ul {
		list-style: none;
		margin-top: 4px;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0 0 3px 16px;
	}

	span {
		padding-left: 3px;
	}

	a.selected {
		background-color: #eee;
	}
}

.lfr-asset-category-list-container {
	cursor: pointer;
}

.lfr-categories-selector-category-name {
	float: left;
	width: 50%;
}

.lfr-categories-selector-search-results-path {
	color: #575757;
	float: right;
	font-size: 0.9em;
	text-align: right;
	width: 49%;
}
