.lfr-asset-column-details {
	.lfr-asset-categories {
		color: #7d7d7d;

		.lfr-asset-category {
			color: #555;
		}
	}

	.lfr-asset-description {
		color: #444;
		font-style: italic;
		margin: 0.5em auto 2em;

		@include hyphens();
	}

	.lfr-asset-icon {
		border-right: 1px solid transparent;
		color: #999;
		float: left;
		line-height: 1em;
		margin-right: 10px;
		padding-right: 10px;

		&.last {
			border-width: 0;
		}
	}

	.lfr-asset-tags {
		color: #7d7d7d;

		.tag {
			color: #555;
		}
	}

	.lfr-asset-metadata {
		clear: both;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
	}

	.lfr-panel {
		clear: both;
		margin-bottom: 0.2em;

		&.lfr-extended {
			border: 1px solid transparent;
			margin-bottom: 0;
		}
	}

	.taglib-custom-attributes-list label,
	.lfr-asset-field label {
		display: block;
	}

	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}
}

.lfr-asset-column-details {
	.lfr-panel.lfr-extended {
		border-color: #ccc;
	}
}
