.overlay {
	position: absolute;
}

.overlay-hidden,
.overlaymask-hidden {
	display: none;
}

.form-builder-field {
	background-color: white;
	border: 0.0625rem solid #e7e7ed;
	border-radius: 0.25rem;
	margin-top: 0.5rem;
	padding: 0.625rem;
}

.form-builder-placeholder {
	border: 0.0625rem dashed #ccc;
	margin: 0.3125rem;
}
