.lfr-preview-file {
	position: relative;
}

.lfr-preview-file-content {
	border-bottom: 1px solid transparent;
	border-bottom-color: #6d6d6e;
	padding: 0 0 40px 135px;
	position: relative;
}

.lfr-preview-audio-content,
.lfr-preview-video-content {
	padding-left: 0;
}

.lfr-preview-file-arrow {
	border-radius: 4px;
	height: 52px;
	line-height: 48px;
	top: 50%;
	transform: translateY(-50%);
	width: 52px;

	@include media-breakpoint-up(sm) {
		height: 64px;
		line-height: 60px;
		width: 64px;
	}

	&.carousel-control {
		background-color: #000;
		background-image: none;
	}
}

.lfr-preview-file-image-current {
	background: url(../images/aui/loading_indicator.gif) no-repeat 50% 50%;
	max-height: 440px;
	max-width: 100%;
	vertical-align: middle;

	@include media-breakpoint-down(sm) {
		max-height: 65%;
	}
}

.lfr-preview-file-image {
	display: block;
	margin: 5px;
	width: 100%;

	img {
		background: url(../images/aui/loading_indicator.gif) no-repeat 50% 50%;
		border: 1px solid transparent;
		border-color: #aeb8bc;
		display: inline-block;
		margin: 3px;
		min-height: 40px;
		width: 72px;
	}
}

.lfr-preview-file-image-selected img,
.lfr-preview-file-image:hover img {
	border-color: #00a2ea;
}

.lfr-preview-file-loading-indicator {
	background: #333;
	bottom: 0;
	color: #fff;
	left: 0;
	margin: 2px;
	padding: 2px 5px;
	position: absolute;
}

.lfr-preview-file-image-overlay {
	height: 90%;
	width: 70%;

	.modal-header {
		min-height: 61px;

		.close {
			font-size: 30px;
		}
	}
}

.lfr-preview-file-image-overlay-controls {
	pointer-events: all;

	.image-viewer-control.carousel-control {
		&.left {
			left: 15px;
		}

		&.right {
			right: 25px;
		}
	}
}
