.lfr-spa-loading-bar {
	background: #2fa4f5;
	display: none;
	height: 2px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}

.lfr-spa-loading .lfr-spa-loading-bar {
	display: block;
}
