.lfr-tree {
	a {
		text-decoration: none;
	}

	li {
		margin-bottom: 2px;
		padding-left: 0;

		ul li,
		&.tree-item {
			padding-left: 0;
		}

		&.tree-item {
			padding-left: 5px;

			li {
				padding-left: 20px;
			}

			ul {
				margin-left: 0;
				margin-top: 5px;
			}
		}
	}
}
