.lfr-upload-container {
	margin-bottom: 1em;

	.upload-target {
		border: 3px dashed #ddd;
		margin-bottom: 1em;
		min-height: 30px;
		padding: 30px 0;
		position: relative;
		text-align: center;

		.upload-drop-intent & {
			z-index: 100;
		}

		.upload-drop-active & {
			background-color: #ddedde;
			border-color: #7d7;
			border-style: dashed;
		}

		h4 span {
			display: block;
			margin: 5px 0;
			text-transform: lowercase;
		}

		.or-text {
			font-size: 0.8em;
		}

		.drop-file-text {
			font-weight: normal;

			.mobile & {
				display: none;
			}
		}
	}

	.manage-upload-target {
		padding: 5px 0 0;
		position: relative;

		.select-files {
			margin: 0 1.125rem 1.125rem;
		}
	}

	.browse-button-container {
		padding-top: 5px;
	}

	a {
		&.browse-button {
			background-image: url(../images/common/add.png);
			background-repeat: no-repeat;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}

		&.clear-uploads {
			background-image: url(../images/common/remove.png);
			background-repeat: no-repeat;
			float: right;
			padding-left: 16px;
		}

		&.cancel-uploads {
			background-image: url(../images/common/close.png);
			background-repeat: no-repeat;
			float: right;
			margin-right: 0;
		}
	}

	.upload-file {
		&.upload-complete.file-saved {
			padding-left: 25px;
		}

		.file-title {
			display: inline-block;
			max-width: 95%;
			overflow: hidden;
			padding-right: 16px;
			text-overflow: ellipsis;
			vertical-align: middle;
			white-space: nowrap;
		}

		.icon-file {
			font-size: 40px;
		}
	}

	.upload-list-info {
		margin: 1em 0 0.5em;

		h4 {
			font-size: 1.3em;
		}
	}

	.cancel-button {
		color: #869cad;
		margin-top: 1px;
		position: absolute;
		right: 5px;
		top: 50%;
		white-space: nowrap;

		.cancel-button-text {
			display: none;
			margin-left: 5px;
		}

		&:hover .cancel-button-text {
			display: inline;
		}

		.lexicon-icon {
			height: 12px;
		}
	}

	.delete-button {
		color: #869cad;
	}

	.delete-button-col {
		padding-right: 10px;
	}

	.file-added .success-message {
		float: right;
		font-weight: normal;
	}

	.upload-error {
		opacity: 1;
		padding-left: 25px;
	}

	.upload-complete .cancel-button,
	.delete-button,
	.upload-complete.file-saved .delete-button,
	.upload-complete.upload-error .delete-button {
		display: none;
	}

	.multiple-files {
		.upload-error {
			background: #fdd url(../images/messages/error.png) no-repeat 5px 5px;
			border-color: #900;
			color: #900;
			font-weight: normal;
			margin-bottom: 16px;
			padding: 8px 8px 8px 24px;

			.error-message {
				display: block;
			}
		}

		.upload-complete.file-saved,
		.upload-complete.upload-error {
			.form-check-middle-left {
				.card-body {
					padding-left: 1rem;
				}
				.custom-control-label {
					display: none;
				}
			}
		}
	}

	.single-file .upload-error {
		list-style: none;
		margin-top: 1em;

		.upload-error-message {
			margin-bottom: 0.5em;
		}
	}

	.upload-complete {
		padding-left: 5px;

		.error-message,
		.success-message {
			font-weight: bold;
			margin-left: 1em;
		}

		.delete-button {
			display: inline-block;
		}

		.select-file:disabled + .custom-control-label {
			display: none;
		}
	}

	.progress {
		display: none;
		margin-top: 0.5rem;
	}

	.file-uploading {
		background-color: #ffc;

		.progress {
			display: flex;
		}
	}
}

.select-files {
	float: left;
	line-height: 0;
	margin-right: 2px;
	padding: 0 0 0 5px;
}
